@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary: #C778DD;
  --background: #282C33;
  --gray: #ABB2BF;
  --white: #ffffff;

  /* Border Styles */
  --border-width: 1.2px;

  /* Padding */
}

html {
  min-height: 100vh;
  background-color: #1b1e23;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
